# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environment files
.env
.venv
venv/
ENV/
env/

# Packaging and distribution
build/
dist/
*.egg-info/

# Operating System files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Ehthumbs.db
Desktop.ini

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp